:root {
  --border-radius: 30px;
}

html, body {
  font-family: "Itim", cursive;
  background-color: #FDF0A6;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

/* sec-01 */
.sec-01 {
  display: flex;
  align-items: end;
  justify-content: center;
}

.sec-01 > nav {
  font-size: 68px;
  color: #EFD162;
  -webkit-text-stroke: 2px black;
  text-shadow: 5px 5px rgb(67, 67, 67);
  paint-order: stroke fill;
}

/* sec-02 */
.sec-02 {
  display: flex;
  align-items: start;
  justify-content: center;
}

.sec-02 > .btn-box {
  background-color: #FAD58A;
  border-radius: var(--border-radius);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px rgb(67, 67, 67);
  border: 2px solid black;
}

.sec-02 > .btn-box > nav {
  font-size: 64px;
  letter-spacing: 5px;
  color: #83B968;
}